body {
    width: 50%;
    margin: 20px auto;
}
.container {
    width: 100%;
    border: 3px double grey ;
}
h3 {
    text-align: center;
    color: grey;
}
.aphorism-container {
    margin: 1em 0;
}
p {
    padding: 1em;
    margin: 0;
}
.odd {
    background-color: #41484E;
    color:#DDD;
}

.even {
    background-color: #5E6F7D;
    color:#EEE;
}