.menu-heading {
    display: flex;
    flex-direction: column ; 
    justify-content: center;
    text-align: center;
}
.nav-menu, 
.fancy-element {
    display: flex;
    justify-content: center;
}
.nav-menu li {
    padding: 1em 1em 0.5em 1em; 
}
.nav-menu li:hover {
    color: #E0AA0D; 
}
/* menu items styles */
.menu-items {
    display: flex;
    padding: 2em 1em;
}
.product {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1em ; 
}
.name-and-price {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0.5em 0; 
    font-weight: 600;
}
.description {
    color:  #7b7e81;
    font-size: 14px;
}
.fancy-element {
    padding-bottom: 4em;
}
/* menu styles from homepage */

.main-menu-wrapper, 
.dinner-wrapper {
    display: flex ;
    justify-content: space-around;
    align-items: flex-start;
    color: #3b3d42;
}
.main-menu {
    margin-top: 4em ; 
}
.dinner-menu {
    margin-top: 6em;
}
.main-menu h5, 
.dinner-menu h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}
.menu-line, 
.dinner-line {
    border-top: 3px solid #E0AA0D;
    width: 6em;
    padding-bottom: 1em;
}
.dinner-line {
    width: 4em;
}
.menu-spec {
    padding-bottom: 1em;
}
.menu-spec-name {
    display: flex;
    padding: 0.5em 0;
    font-weight: 500;
}
.separator {
    border-bottom: 2px dotted #7b7e81; ;
    flex-grow: 2;
}
.menu-spec-descr {
    padding-bottom: 1em ;
    font-size: 14px;
    color: #7b7e81;
}

.spec-img img {
    width: 550px;
    height: 530px;
}